@font-face {
    font-family: "SF";
    src: url('font/SystemSanFranciscoDisplayRegular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "foundation-icons";
    src: url('font/foundation-icons.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "SF", Helvetica;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.item{
	margin: 5px;
}

/** Console **/
#console {
	color: transparent;
	font-size: 2rem;
	letter-spacing: 5px;
	margin : 20px;
	text-align: center;
	padding: 5px;
	text-transform: uppercase;
	border: 4px solid transparent;
	border-image: linear-gradient(45deg, #FF6F8B, #95E8A4);
	border-image-slice: 1;
	background: linear-gradient(45deg, #FF6F8B, #95E8A4);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	transition: all 0.2s ease;
}

/** Segmented control **/
.segmented-control {
	position: relative;
	display: inline-block;
	width: 400px;
	color: #4CD964;
	border: 1px solid currentColor;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	overflow: hidden;
	margin: .8em auto;
	margin-top: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-tap-highlight-color: transparent;
}
.segmented-control > input {
	position: absolute;
	left: -10000px;
	opacity: 0;
}
.segmented-control > input[type='checkbox'] ~ label {
	-moz-transition-duration: 0;
	-o-transition-duration: 0;
	-webkit-transition-duration: 0;
	transition-duration: 0;
}
.segmented-control > input[type='checkbox'] ~ label:before {
	opacity: 0;
}
.segmented-control > input:disabled:nth-child(1) ~ label:nth-of-type(1) {
	opacity: 0.3;
	cursor: not-allowed;
}
.segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):after, .segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):before {
	opacity: 1;
}
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:before {
	left: 0%;
}
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
	left: 0%;
}
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
	left: 0%;
}
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
	left: 0%;
}
.segmented-control > input:disabled:nth-child(2) ~ label:nth-of-type(2) {
	opacity: 0.3;
	cursor: not-allowed;
}
.segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):after, .segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):before {
	opacity: 1;
}
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
	left: 50%;
}
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
	left: 33.33333%;
}
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
	left: 25%;
}
.segmented-control > input:disabled:nth-child(3) ~ label:nth-of-type(3) {
	opacity: 0.3;
cursor: not-allowed;
}
.segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):after, .segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):before {
	opacity: 1;
}
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
	left: 66.66667%;
}
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
	left: 50%;
}
.segmented-control > label {
	display: inline-block;
	padding: 0 .71em;
	cursor: pointer;
	float: left;
	line-height: 3em;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: inherit;
	-moz-transition-property: none;
	-o-transition-property: none;
	-webkit-transition-property: none;
	transition-property: none;
	-moz-transition-duration: inherit;
	-o-transition-duration: inherit;
	-webkit-transition-duration: inherit;
	transition-duration: inherit;
	-moz-transition-timing-function: inherit;
	-o-transition-timing-function: inherit;
	-webkit-transition-timing-function: inherit;
	transition-timing-function: inherit;
}
.segmented-control > label:before, .segmented-control > label:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.segmented-control > label:after {
	color: white;
	content: attr(data-value);
	text-align: center;
	padding: inherit;
	z-index: 10;
	font-style: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	opacity: 0;
	-moz-transition-property: opacity, left;
	-o-transition-property: opacity, left;
	-webkit-transition-property: opacity, left;
	transition-property: opacity, left;
	-moz-transition-duration: inherit;
	-o-transition-duration: inherit;
	-webkit-transition-duration: inherit;
	transition-duration: inherit;
	-moz-transition-timing-function: inherit;
	-o-transition-timing-function: inherit;
	-webkit-transition-timing-function: inherit;
	transition-timing-function: inherit;
}
.segmented-control > label:after, .segmented-control > label {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.segmented-control > label:before {
	content: '';
	color: inherit;
	background: currentColor;
	-moz-transition-property: left;
	-o-transition-property: left;
	-webkit-transition-property: left;
	transition-property: left;
	-moz-transition-duration: inherit;
	-o-transition-duration: inherit;
	-webkit-transition-duration: inherit;
	transition-duration: inherit;
	-moz-transition-timing-function: inherit;
	-o-transition-timing-function: inherit;
	-webkit-transition-timing-function: inherit;
	transition-timing-function: inherit;
}
.segmented-control > label:first-of-type:nth-last-of-type(1), .segmented-control > label:first-of-type:nth-last-of-type(1):after, .segmented-control > label:first-of-type:nth-last-of-type(1):before, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:before {
	width: 100%;
}
.segmented-control > label:first-of-type:nth-last-of-type(2), .segmented-control > label:first-of-type:nth-last-of-type(2):after, .segmented-control > label:first-of-type:nth-last-of-type(2):before, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:before {
	width: 50%;
}
.segmented-control > label:first-of-type:nth-last-of-type(3), .segmented-control > label:first-of-type:nth-last-of-type(3):after, .segmented-control > label:first-of-type:nth-last-of-type(3):before, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:before {
	width: 33.33333%;
}


/***** MODE CONTENT *****/
/** Toggle button **/ 
.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid #FF6F8B; border-radius: 30px;
    background-color: #FF6F8B;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 28px;
    border: 2px solid #FF6F8B; border-radius: 30px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before{
	border: 2px solid #CCCCCC; border-radius: 30px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #4CD964;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #4CD964;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

/** alert-box **/
.alert-box {
	background: #f7f7f7;
	color: #333;
	width: 400px;
	border: none;
	border-left: 6px solid grey;
	box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.alert-box p{
	margin: 15px;
}

/** Foundation font **/
.fi-pause:before,
.fi-refresh:before {
  font-family: "foundation-icons";
  font-size: 60px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  cursor: pointer;
}

.fi-refresh:before {
	content: "\f1a5";
	
}
.fi-pause:before {
	content: "\f191";
}